API_BASE_URL="https://example.com"

API_KEY="---"
API_EMAIL="---"
API_PASSWORD="---"

API_CHANNEL="API"
API_TIMEOUT=40

COMPANY_ID="---"

SCHEDULE_CRON="0 6 * * 1-5"
SCHEDULE_TIMEZONE=America/Bogota

REPORT_OUTPUT_DIR="Items"
